[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restplus = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
python-dotenv = "*"
pytest = "*"
flask-script = "*"
"psycopg2" = "*"
pytest-cov = "*"
numpy = "*"
flask-marshmallow = "*"
flask-jwt-extended = "*"
redis = "*"
celery = "*"

[dev-packages]

[requires]
python_version = "3.7"
